span.tool {
  padding-left: 5px;
  border-left: 5px solid;
  border-color: #3cba54;
}
span.model {
  padding-left: 5px;
  border-left: 5px solid;
  border-color: #4885ed;
}
span.manet {
  padding-left: 5px;
  border-left: 5px solid;
  border-color: #f4c20d;
}
span.cs {
  padding-left: 5px;
  border-left: 5px solid;
  border-color: #db3236;
}

article.tool {
  padding-left: 5px;
  border-left: 5px solid;
  border-color: #3cba54;
}
article.model {
  padding-left: 5px;
  border-left: 5px solid;
  border-color: #4885ed;
}
article.manet {
  padding-left: 5px;
  border-left: 5px solid;
  border-color: #f4c20d;
}
article.cs {
  padding-left: 5px;
  border-left: 5px solid;
  border-color: #db3236;
}

/* Popup box BEGIN */
.hover_bkgr_fricc{
    cursor:pointer;
    display:none;
    font-size: 11px;
    height:100%;
    position:fixed;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 550px;
    min-height: 100px;
    vertical-align: middle;
    width: 80%; 
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;  
	left: 50%;
    border-radius: 8px;
    padding: 5px 2%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 20px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    display: inline-block;
}
/* Popup box BEGIN */